# Consommation m3 
### pas totalement terminer -> regex pas ouf

In [59]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

df = dd.read_csv("/Users/louispuyo/AAA/tabula-1034-DEPENSES-2016.csv")
df.head()
iter_csv = pd.read_csv("/Users/louispuyo/AAA/tabula-1034-DEPENSES-2016.csv",
                       iterator=True,
                       chunksize=1000)
#key = 'm3'
regex = r"(\d+|-\d+)(?= (M3|KWH|mwh))"

df3 = pd.concat([chunk[chunk["Unnamed: 1"].str.extract(regex)]
                 for chunk in iter_csv])

/Users/louispuyo/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

AttributeError: 'DataFrame' object has no attribute 'str'

# Consommation kwh

In [24]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

df = dd.read_csv("/Users/louispuyo/AAA/tabula-1034-DEPENSES-2016.csv")
df.head()
iter_csv = pd.read_csv("/Users/louispuyo/AAA/tabula-1034-DEPENSES-2016.csv",
                       iterator=True,
                       chunksize=1000)
key = 'kwh'

df3 = pd.concat([chunk[chunk["Unnamed: 1"].str.endswith(key, na=False)]
                for chunk in iter_csv])


df3.head(50)
df3 = df3['Unnamed: 1'].str.extract('(\d\d\d+)', expand=True)
# regx to get the account number 
df3.head(50)

Empty DataFrame
Columns: [0]
Index: []

#### pas  de valeurs khw... pour ce pdf