# Consommation m3 
### pas totalement terminer -> regex pas ouf

In [34]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

df = dd.read_csv("/Users/louispuyo/AAA/tabula-1034-DEPENSES-2016.csv")
df.head()
iter_csv = pd.read_csv("/Users/louispuyo/AAA/tabula-1034-DEPENSES-2016.csv",
                       iterator=True,
                       chunksize=1000)
key = 'm3'

df3 = pd.concat([chunk[chunk["Unnamed: 1"].str.endswith(key, na=False)]
                for chunk in iter_csv])



df3 = df3['Unnamed: 1'].str.extract('([0-9][0-9][0-9])', expand=True)
df3.head(16)

     0
3  695
5  688
7  669
9  660

# Consommation kwh

In [37]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

df = dd.read_csv("/Users/louispuyo/AAA/tabula-1034-DEPENSES-2016.csv")
df.head()
iter_csv = pd.read_csv("/Users/louispuyo/AAA/tabula-1034-DEPENSES-2016.csv",
                       iterator=True,
                       chunksize=1000)
key = 'kwh'

df3 = pd.concat([chunk[chunk["Unnamed: 1"].str.endswith(key, na=False)]
                for chunk in iter_csv])


df3.head(50)
df3 = df3['Unnamed: 1'].str.extract('(\d\d\d+)', expand=True)
# regx to get the account number 
df3.head(50)

Empty DataFrame
Columns: [0]
Index: []

#### pas  de valeurs khw... pour ce pdf