# Ei   -   Building

In [15]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

df = dd.read_csv("/home/snowden/Work/WebApp-Flask/pgt-depenses-2016.csv")

df.head()
iter_csv = pd.read_csv("/home/snowden/Work/WebApp-Flask/pgt-depenses-2016.csv",
                       iterator=True,
                       chunksize=1000)
key = 'Copro'
df = pd.concat([chunk[chunk["Unnamed: 1"].str.startswith(key, na=False)]
                for chunk in iter_csv])

df.head(1)

# regx to get the account number

,S-DPC| 0566| S01| 1034| 20160101| 20161231,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
85,CABINET PAGESTI,Copropriété N° 1034,NaN,NaN,Page N° 2,NaN,NaN,NaN

# try to delete Prefix:

In [25]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

df = dd.read_csv("/home/snowden/Work/WebApp-Flask/pgt-depenses-2016.csv")

df.head()
iter_csv = pd.read_csv("/home/snowden/Work/WebApp-Flask/pgt-depenses-2016.csv",
                       iterator=True,
                       chunksize=1000)
key = 'Copro'
df = pd.concat([chunk[chunk["Unnamed: 1"].str.startswith(key, na=False)]
                for chunk in iter_csv])

df = df["Unnamed: 1"].str.extract('(\d\d\d\d)', expand=True)
df.head(1)

       0
85  1034

# end